h1 {
color: ;
}

img {
    width: 250px;
    height: auto;
}

body{
background-color: violet;
margin: 0 auto;
text-align: center;
}

#titleBox {
background-color: antiquewhite;
margin: 30px;
border: 2px solid white;

}

.listBox {
background-color: aquamarine;
margin: 35px;
border: O auto;
}

.listBoxIngredients{
background-color: aquamarine;
margin: 35px;
border: 1px dotted pink;
}

.listBoxMethod{
background-color: green;
margin: 35px;
border: 1px;

}

.list{
background-color: blueviolet;
color: white;
font: bold;
}